<html lang="en">
<head>
    <link rel="shortcut icon" type="image/jpg" href="../static/blue.jpg"/>
    <link type="text/css" rel="stylesheet" href="{{url_for('static', filename='style.css')}}"/>
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/newpost">New Post</a>
        <a href="/news">News</a>
        <a href="/contact">Contact</a>
        <a href="/about">About</a>
        <a href="/Account">Hi, {{ fname }} {{lname}}</a>
    </div>
</body>
</html>